In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
import ast
import pandas as pd
import matplotlib.pyplot as plt
import pywt

In [55]:
root = 'C:/Users/Haiya/Downloads/OneDrive_2025-09-19/'
csv = 'ALL_CLEAN_DEIDEN_NAME AND ECMO DATA(Sheet1) (1).csv'
csv_path = Path(root + csv)
df = pd.read_csv(csv_path)

In [57]:
df.head()

,record_id,"sex (1:M, 2:F)",DOB,age_days,age_months,age_years,Diagnosis,Diagnosis_note,weight,study_height,...,Highest INR.1,Highest PTT.1,Lowest arterial pulse pressure,Is lowest arterial pulse pressure <25% of systolic blood pressure (yes/no),Lowest cerebral NIRs value (rSO2),Does that patient have rSO2 measurements < 40%? (yes/no),Lowest arterial pulse pressure .1,Is lowest arterial pulse pressure <25% of systolic blood pressure (yes/no) .1,Lowest cerebral NIRs value (rSO2) .1,Does that patient have rSO2 measurements < 40%? (yes/no) .1
0,P-001,1,6/5/2019,127,4.2,0.3,Cardiac Arrest,Hypertrophic CM,5.91,61.5,...,2.1,>200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,P-002,1,1/13/2019,508,16.7,1.4,Cardiac Arrest,"Liver Failure, Cardiogenic Shock",9.80,77.0,...,2.9,143.1,NaN,NaN,NaN,NaN,NaN,NaN,21.0,1.0
2,P-003,2,7/8/2005,5535,181.8,15.2,Sepsis,Secondary LV failure and ARDS,56.50,160.0,...,1.5,>200.0,NaN,NaN,46.0,0.0,NaN,NaN,49.0,0.0
3,P-004,1,9/29/2020,2,0.1,0.0,Respiratory Failure,"CDH, pulmonary HTN",3.19,48.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,P-005,2,10/2/2020,2,0.1,0.0,Respiratory Failure,"Meconium Aspiration, Pulmonary HTN",3.30,51.0,...,1.4,>200.0,NaN,NaN,NaN,NaN,NaN,NaN,63.0,0.0

In [59]:
df_ge8 = df.loc[df['NIS Total'] >= 8]

In [71]:
             pd.to_numeric(df_ge8['record_id'].astype(str).str.extract(r'(\d+)')[0], errors='coerce')
      .dropna()
      .astype(int)
      .tolist()
)

print(patient_ids)

[1, 2, 16, 19, 21, 22, 25, 37, 39, 43, 44, 47, 50, 56, 58, 62, 65, 66, 73, 78]

In [73]:
len(patient_ids)

20

In [75]:
[1, 2, 16, 19, 21, 22, 25, 37, 39, 43, 44, 47, 50, 56, 58, 62, 65, 66, 73, 78]

[1, 2, 16, 19, 21, 22, 25, 37, 39, 43, 44, 47, 50, 56, 58, 62, 65, 66, 73, 78]

In [77]:
[1, 2, 16, 19, 21, 22, 25, 37, 39, 43, 44, 50, 56, 58, 62, 65, 66, 73, 78]

[1, 2, 16, 19, 21, 22, 25, 37, 39, 43, 44, 50, 56, 58, 62, 65, 66, 73, 78]